.gallerySlider .slick-slider.slick-initialized {
    display: flex;
    justify-content: center;
    padding: 5px;
    padding-bottom: 0;
    border: #e2e2e2 1px solid;
overflow: hidden;
  }
  
  
  .gallerySlider .slick-slider .slick-list {
    width: 50%;
    justify-content: space-between;
    margin-left: 0px;
  }

  .gallerySlider .slick-slider .slick-list .slick-track {
    width: 300px;
    opacity: 1;
    transform: translate3d(-10px, 0px, 0px);
    overflow: hidden;
    display: flex !important;
  }


  
  .gallerySlider .slick-active {
    outline: none;
  }
  
  .gallerySlider .slick-slide a {
    opacity: 70%;
    object-fit: cover;
    width: 70px;
    height: 70px;
    outline: none;
  }
  
  .gallerySlider .slick-slider.slick-initialized a img {
    object-fit: cover;
    width: 70px;
    height: 100%;
    margin: 0;
    outline: none;
  }
  
  .gallerySlider .slick-slide a.active {
    opacity: 100%;
    object-fit: cover;
    width: 70px;
    height: 70px;
    border: none;
  }
  
  .gallerySlider .slick-slider.slick-initialized .slick-arrow.slick-prev {
    font-size: 0;
    line-height: 0;
    z-index: 1;
  
    position: absolute;
    top: 40px;
    left: 5px;
    display: block;
  
    width: 25px;
    height: 70px;
    padding: 0;
    transform: 0;
  
    cursor: pointer;
  
    color: white;
    border: none;
    outline: none;
    background: black;
  }
  
  .gallerySlider .slick-slider.slick-initialized .slick-arrow.slick-prev::before {
    content: "";
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-left: 5px;
  }
  
  .gallerySlider .slick-slider.slick-initialized .slick-arrow.slick-next {
    font-size: 0;
    line-height: 0;
    z-index: 1;
  
    position: absolute;
    top: 40px;
    right: 10px;
    display: block;
  
    width: 25px;
    height: 70px;
    padding: 0;
    transform: 0;
  
    cursor: pointer;
  
    color: white;
    border: none;
    outline: none;
    background: black;
  }
  
  .gallerySlider .slick-slider.slick-initialized .slick-arrow.slick-next::before {
    content: "";
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-right: 3px;
  }
  
  .gallerySlider.activeSlide {
    animation: fadeIn 1s;
  }