@import "../../../styles/settings.scss";

.root {
  margin: 60px 0;

  .sliderDiv {
    height: 110px;
  }
}

@media (max-width: 1199px) {
  .brand:nth-child(n+5) {
     display: none;
  }
}
@media (max-width: 991px) {
  .brand:nth-child(n+4) {
    display: none;
  }
}
@media (max-width: 767px) {
  .brand:nth-child(n+3) {
    display: none;
  }
}
@media (max-width: 511px) {
  .brand:nth-child(n+2) {
    display: none;
  }
}