$base-padding: 24px;

$header-topbar-bg: #434343;
$header-bg: #363636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;

$text-color: #2a2a2a;

$form-border-color: #292929;

$transition: color 250ms, background-color 250ms, opacity 250ms;

$fade-time: 500ms;

:export {
  fadeTime: $fade-time;
}
