@import "../../../styles/settings.scss";

.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;

  .category {
    border-right: 1px solid $form-border-color;
    display: flex;
    align-items: center;
    position: relative;

    .icon:first-child {
      color: $primary;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 15px;
      top: 7px;
      z-index: 0;
    }

    /* styling for Select dropdown menu */

    ul {
      margin: 0;
      list-style-type: none;
    }

    .dropdownMenu {
      font-size: 14px;
      padding: 5px 35px 5px 40px;
      position: relative;
      z-index: 1;
    }

    .dropdownElements {
      display: none;
      padding: 0;
      position: absolute;
      background-color: white;
      width: 100%;
      border: 1px solid $header-bg;
      left: 0;
    }

    .dropdownElements li {
      padding: 5px 35px 5px 40px;
      color: $header-bg;
    }



    .dropdownMenu li:hover .dropdownElements {
      display: block;
    }

    .dropdownElements li:hover {
      background-color: $primary;
      color: white;
    }

  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}
