@import "../../../styles/settings.scss";

.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;

  .category {
    border-right: 1px solid $form-border-color;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 14px;

    :hover {
      outline: 1px solid #d58e32;
      color: #d58e32;
    }

    :focus {
      outline: none;
    }

    &:hover {
      .icon:first-child {
        color: $form-border-color;
      }
    }

    .icon:first-child {
      color: $primary;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
      right: 15px;
      top: 6px;
    }

    ul {
      margin: 0;
      list-style-type: none;
    }

    .dropdownMenu {
      font-size: 14px;
      padding: 5px 35px 5px 40px;
      position: relative;
      z-index: 1;
    }

    .dropdownMenu li:hover, .dropdownMenu .icon:hover  {
      outline: none;
    }

    .dropdownMenu li:hover .dropdownElements {
      outline: 1px solid #d58e32;
    }

    .dropdownElements {
      display: none;
      padding: 0;
      position: absolute;
      background-color: white;
      width: 100%;
      left: 0;
    }

    .dropdownElements li {
      padding: 5px 35px 5px 40px;
      color: $header-bg;
    }

    .dropdownMenu li:hover .dropdownElements {
      display: block;
    }

    .dropdownElements li:hover {
      background-color: $primary;
      color: white;
    }


  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      padding-right: 0px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;
      }
    }

    .icon {
      color: $color-grey-160;
      margin-right: 10px;
      &:hover {
        color: $color-orange;
      }
    }
  }
}

@media (max-width: 768px) {
  .root {
    .category {
      font-size: 12px;
      max-width: 200px;
    }
    .searchField {
      input {
        max-width: 150px;
        font-size: 12px;
      }
    }
  }
}
