

.gallerySlider .slick-slider.slick-initialized {
  display: flex;
  justify-content: center;
  padding: 5px;
  padding-bottom: 0;
  border: #e2e2e2 1px solid;
}

.gallerySlider .slick-slider .slick-list {
  width: 90%;
  justify-content: space-between;
  margin-left: 0px;
}

.gallerySlider .slick-active {
  outline: none;
  animation: fadeIn 2s;
}

.gallerySlider .slick-slide a {
  opacity: 70%;
  object-fit: cover;
  width: 70px;
  height: 70px;
  outline: none;
}

.gallerySlider .slick-slider.slick-initialized a img {
  object-fit: cover;
  width: 70px;
  height: 100%;
  margin: 0;
  outline: none;
}

.gallerySlider .slick-slide a.active {
  opacity: 100%;
  object-fit: cover;
  width: 70px;
  height: 70px;
  border: none;
  animation: fadeIn 2s;
}

.gallerySlider .slick-slider.slick-initialized .slick-arrow.slick-prev {
  font-size: 0;
  line-height: 0;
  z-index: 1;

  position: absolute;
  top: 40px;
  left: 5px;
  display: block;

  width: 25px;
  height: 70px;
  padding: 0;
  transform: 0;

  cursor: pointer;

  color: #fff;
  border: none;
  outline: none;
  background: #2a2a2a;

  
}


.gallerySlider .slick-slider.slick-initialized .slick-prev::before {
  content: "";
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-left: 5px;

}

.gallerySlider .slick-slider.slick-initialized .slick-next {
  font-size: 0;
  line-height: 0;
  z-index: 1;

  position: absolute;
  top: 40px;
  right: 10px;
  display: block;

  width: 25px;
  height: 70px;
  padding: 0;
  transform: 0;

  cursor: pointer;

  color: #fff;
  border: none;
  outline: none;
  background: #2a2a2a;
}

.gallerySlider .slick-slider.slick-initialized .slick-next::before {
  content: "";
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-right: 3px;
}

.fadeIn {
  animation: fadein 2s;
}
.fadeOut {
  animation: fadeOut 2s;
}



@media (max-width: 374px) {
  .gallerySlider .slick-slider .slick-list {
    width: 70%;
  }
}
@media (min-width: 375px) {
  .gallerySlider .slick-slider .slick-list {
    width: 80%;
    margin-left: 15px;
  }
}
@media (min-width: 424px) {
  .gallerySlider .slick-slider .slick-list {
    width: 83%;
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .gallerySlider .slick-slider .slick-list {
    width: 80%;
    margin-left: 10px;
  }
}
@media (min-width: 1024px) {
  .gallerySlider .slick-slider .slick-list {
    width: 85%;
    margin-left: -2px;
  }

}

@media (min-width: 1280px){
  .gallerySlider .slick-slider.slick-initialized .slick-arrow.slick-prev {
    font-size: 0;
    line-height: 0;
    z-index: 1;
  
    position: absolute;
    top: 40px;
    left: 5px;
    display: block;
  
    width: 25px;
    height: 70px;
    padding: 0;
    transform: 0;
  
    cursor: pointer;
  
    color: #fff;
    border: none;
    outline: none;
    background: #2a2a2a;
  
    
  }
}
@media (min-width: 1440px) {
  .gallerySlider .slick-slider .slick-list {
    width: 87%;
    margin-left: -2px;
  }
}
@media (min-width: 1920px) {
  .gallerySlider .slick-slider .slick-list {
    width: 88%;
    margin-left: -2px;
  }
}
@media (min-width: 2560px) {
  .gallerySlider .slick-slider .slick-list {
    width: 88%;
    margin-left: -2px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
